NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_PIX_KEY=
NEXT_PUBLIC_PIX_RECEIVER_NAME=
NEXT_PUBLIC_PIX_RECEIVER_CITY=
NEXT_PUBLIC_PAGBANK_PUBLIC_KEY=
NEXT_PUBLIC_API_BASE_URL=
PAGBANK_TOKEN=
PAGBANK_API_URL="https://sandbox.api.pagseguro.com"
PAGBANK_WEBHOOK_URL=
PAGBANK_SOFT_DESCRIPTOR="ANINFAPRATA"
# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=
SEED_ADMIN_NAME="Sara Borges Admin"
SEED_ADMIN_EMAIL="admin@aninfadeprata.com"
SEED_ADMIN_PASSWORD="Admin123!"
